<%- include('partials/header') %>
<div class="container downloadpage">
  <div >
    <!-- -------------------------------- Resume ------------------------------- -->
    <div class="downloadrow">
      <div class="resume">
        <h1>My Resume</h1>
        <a href="files/Resume.pdf" download>Resume</a>
      </div>
    </div>

    <!-- ------------------------------- Cover Letter--------------------------- -->
    <div class="downloadrow">
      <div class="resume">
        <h1>My Cover Letter</h1>
        <a href="files/CoverLetter.pdf" download>Cover Letter</a>
      </div>
    </div>

    <!-- ----------------------------- Portfolio ------------------------------- -->
    <div class="downloadrow">
      <div class="resume">
        <h1>My Portfolio</h1>
        <a href="files/Portfolio.pdf" download>Portfolio</a>
      </div>
    </div>
  </div>

</div>

<%- include('partials/footer') %>
