<%- include('partials/header') %>

<!--=------------------------------ Banner  ----------------------------------->
<section class="banner-section">
  <div class="banner">
    <div class="banner-title">
      <h1 class="name">Muqesh...</h1>
      <h3 class="position"><span>Data Scientist</span></h3>
      <h6 class="challenge"><span class="type"style="--n:20">Hire me if you can!</span></h6>
    </div>
  </div>
</section>

<!-------------------------------------- Profile ------------------------------>
<section class="profile-section" id="features">
  <div class="profile">
    <div class="profile-text">
      <p>What is Lorem Ipsum?
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        <br><br>
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
        book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        . It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
        recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
    </div>
  </div>
</section>

<!-------------------------------------- Blogs -------------------------------->
<section class="blog-section">
  <div id="testimonial-carousel" class="carousel slide" data-ride="false">
    <div class="carousel-inner ">
      <!-- -------------------------------------- -->
      <div class="carousel-item active blog-fluid">
        <div class="column col-8">
          <h2 class='blog-heading'>Cooking</h2>
          <div class="blog-letter">
            <p >
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum is simply dummy y.
            </p>  
          </div>
        </div>
        <div class="column col-4">
          <img class="blog1-img" src="images/work.jpg" alt="blog1-img">
        </div>
      </div>
      <!-- -------------------------------------- -->
      <div class="carousel-item blog-fluid">
        <div class="column col-8">
          <h2 class='blog-heading'>Cooking</h2>
          <p class="blog-letter">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy y.
        </p>
        </div>
        <div class="column col-4">
          <img class="blog2-img" src="images/work.jpg" alt="blog3-img">
        </div>
      </div>
      <!-- -------------------------------------- -->
      <div class="carousel-item blog-fluid">
        <div class="column col-8">
          <h2 class='blog-heading'>Cooking</h2>
          <p class="blog-letter">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy y.
        </p>
        </div>
        <div class="column col-4">
          <img class="blog3-img" src="images/work.jpg" alt="blog3-img">
        </div>
      </div>
      <!-- --------------------------------------- -->
    </div>
    <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>

<!------------------------------ Quotes of the day ---------------------------->
<section class="quote-section">
  <span class="text1">Don't be afraid to be a little weird!</span>
</section>

<!--------------------------------- Youtube Updates --------------------------->
<section class="youtube-section">
  <div class="flexbox">
    <div class="flexcard flexcardGreen">
      <div class="flex flexcardTitle">
        Title
      </div>
      <div class="flex">
        <iframe class='youtube col-sm-4 col-md-12' height="200" width=90% src="https://www.youtube.com/embed/il_t1WVLNxk"></iframe>        
      </div>
      <div class="flex flexcardImg">
      </div>
    </div>
    <div class="flexcard flexcardGreen">
      <div class="flex flexcardTitle">
        Title
      </div>
      <div class="flex">
        <iframe class='youtube col-sm-4 col-md-12' height="200" width=90% src="https://www.youtube.com/embed/il_t1WVLNxk"></iframe>        
      </div>
    </div>
    <div class="flexcard flexcardGreen">
      <div class="flex flexcardTitle">
        Title
      </div>
      <div class="flex">
        <iframe class='youtube col-sm-4 col-md-12' height="200" width=90% src="https://www.youtube.com/embed/il_t1WVLNxk"></iframe>        
      </div>
      <div class="flex flexcardImg">
      </div>
    </div>
  </div>
</section>

<!-------------------------------- Call of Duty ------------------------------->
<!-- <section class="callOfDuty-section" id="cta">
  <div class="contact-form">
    <form method="post">
      <h3>Drop Us a Message</h3>
      <div class="row">
        <div class="col-md-12a">
          <div class="form-group">
            <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
          </div>
          <div class="form-group">
            <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
          </div>
          <div class="form-group">
            <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
          </div>
          <div class="form-group">
            <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
</section> -->
<!-- ---------------------------------------------- -->
<section class="callOfDuty-section">
  <div class="contain">
    <div class="wrapper">
      <div class="form">
        <h6 class="getInTouch">GET IN TOUCH</h6>
        <h6 class="form-headline">Send us a message</h6>
        <form id="submit-form" action="">
          <p>
            <input id="name" class="form-input" type="text" placeholder="Your Name*">
            <small class="name-error"></small>
          </p>
          <p> 
          <p class="full-width">
            <textarea  minlength="20" id="message" cols="30" rows="7" placeholder="Your Message*" required></textarea>
            <small></small>
          </p>
          <p class="full-width">
            <input type="submit" class="submit-btn" value="Submit" onclick="checkValidations()">
          </p>
        </form>
      </div>
    </div>
  </div>
<!-- ------------------------------------ -->
  <script>
    const nameEl = document.querySelector("#name");
    const emailEl = document.querySelector("#email");
    const companyNameEl = document.querySelector("#company-name");
    const messageEl = document.querySelector("#message");

    const form = document.querySelector("#submit-form");

    function checkValidations() {
      let letters = /^[a-zA-Z\s]*$/;
      const name = nameEl.value.trim();
      const email = emailEl.value.trim();
      const companyName = companyNameEl.value.trim();
      const message = messageEl.value.trim();
      if (name === "") {
        document.querySelector(".name-error").classList.add("error");
          document.querySelector(".name-error").innerText =
            "Please fill out this field!";
      } else {
        if (!letters.test(name)) {
          document.querySelector(".name-error").classList.add("error");
          document.querySelector(".name-error").innerText =
            "Please enter only characters!";
        } else {
    
        }
      }
      if (email === "") {
        document.querySelector(".name-error").classList.add("error");
          document.querySelector(".name-error").innerText =
            "Please fill out this field!";
      } else {
        if (!letters.test(name)) {
          document.querySelector(".name-error").classList.add("error");
          document.querySelector(".name-error").innerText =
            "Please enter only characters!";
        } else {
          
        }
      }
    }

    function reset() {
      nameEl = "";
      emailEl = "";
      companyNameEl = "";
      messageEl = "";
      document.querySelector(".name-error").innerText = "";
    }
  </script>
</section>

<%- include('partials/footer') %>
